################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FilmCrawler/FilmCrawler/bin/Debug/netcoreapp2.1
/FilmCrawler/FilmCrawler/obj
/FilmCrawler/.vs
/FilmCrawler/FilmCrawler.Core/obj
/FilmCrawler/FilmCrawler.Core/bin/Release/netstandard2.0
/FilmCrawler/FilmCrawler.Core/bin/Debug/netstandard2.0
