################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FilmCrawler/FilmCrawler/bin/Debug/netcoreapp2.1
/FilmCrawler/FilmCrawler/obj
/FilmCrawler/.vs
