@model FilmCrawler.WebClient.Models.GenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@{
    var genreModel = Model.Genres.FirstOrDefault();
    if (genreModel != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => genreModel.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Genres)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       
    }
}

