@model FilmCrawler.WebClient.Models.CreatorViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@{
    var creatorModel = Model.Creators.FirstOrDefault();
    if (creatorModel != null)
    {        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => creatorModel.Url)
                    </th>                 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Creators)
                {
                    <tr>
                        <td>
                            @{
                                var url = "https://www.imdb.com" + item.Url;
                                <a href="@url" alt="linkToDirector">@url</a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        {

            var pageCount = Model.Count / 1000 + 1;

            @for (var index = 0; index < pageCount; index++)
            {
                var currentHref = "/Creators?pageIndex=" + index;
                <a href=@currentHref>@index.ToString()</a>
            }
        }

    }
}
